<mat-dialog-content>
  <div style="background-color: white;">
    <div style="margin: auto; padding-top: 7px;">
      <form [formGroup]="signupForm">

        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label color="ourtheme" position="floating">Registration Number</ion-label>
                <ion-input (ionInput)="regEnable()" formControlName="regno" required enterkeyhint="next"></ion-input>

              </ion-item>

              <div *ngIf="enregno">

                <mat-error *ngIf="regno.hasError('required') ">
                  <small style="color: red; margin-left: 5px;">Registration number is <strong><span
                        style="letter-spacing: .5px;">required</span></strong></small>
                </mat-error>

                <mat-error *ngIf="regno.hasError('pattern') ">
                  <small style="color: red; margin-left: 5px;">Invalid registration number</small>
                </mat-error>
              </div>
            </ion-col>

            <ion-col size="12">
              <ion-item>
                <ion-label color="ourtheme" position="floating">Assign Driver (Optional)</ion-label>
                <ion-select color="ourtheme" formControlName="driverid" cancelText="Cancel" okText="Done"
                  style="width: 400px;">
                  <ion-select-option style="width: 800px;" *ngFor="let driver of drivers" [value]="driver.id">
                    {{driver?.id?.substring(0,3)}}....{{ driver?.id?.substring(driver?.id?.length - 3) }}
                    {{driver?.firstname?.substring(0,1)}} {{driver?.lastname}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close style="color: #04081f;">Cancel</button>
  <button mat-stroked-button [mat-dialog-close]="true" style="color: #f5757a;" (click)="createAmbulance()"
    cdkFocusInitial [disabled]="signupForm.status === 'INVALID'">
    <ion-spinner *ngIf="auth.isVisible" name="bubbles"></ion-spinner>
    <span *ngIf="!auth.isVisible">Add</span>
  </button>
</mat-dialog-actions>